<div class="card mb-4">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{product.photoUrl}}" alt="{{product.description}}">
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"><i class="fa fa-shopping-cart"></i>
      {{product.description}}, ${{product.price}}
    </h6>
    <button class="btn btn-block btn-primary" 
        [routerLink]="['/products/details/'+ product.id]"><i class="fa fa-shopping-cart"></i> Buy Now
    </button>
      <p class="card-text text-muted text-center">{{product.vendorName}}</p>
  </div>
</div>