<!--Landing Page-->
<div class="offset">
  <div *ngIf="!registerMode">
    <div class="caption text-center home-inner">
      <h1>Welcome to Flairshop</h1>
    <h3 class="lead">Connecting the world's economy!</h3>
      <div *ngIf="!loggedIn()">
      <button class="btn btn-outline-info btn-lg mr-2" (click)="registerToggle()">Register</button>
      <button class="btn btn-primary btn-lg">Learn more</button>
      </div>
  </div>
</div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>

<div id="offers" class="offset">
  <div class="col-12 narrow text-center">
    <h1>Flairshop Ltd. is committed to delivering the best possible service, as well as the fastest, to its customers and vendors!</h1>
    <p class="lead">Order from and to anywhere across the Egyptian republic.</p>
    <a class="btn btn-secondary btn-md" href="#">Our History of Work!</a>
  </div>
</div>

<div id="features" class="offset">
  <div class="jumbotron">
    <div class="narrow">

      <div class="col-12">
        <h3 class="heading">Features</h3>
        <div class="heading-underline"></div>
      </div>

      <div class="row text-center">

      <div class="col-md-4">
        <div class="feature">
          <i class="fa fa-play-circle fa-4x mb-5" data-fa-transform="shrink-3 up-5"></i>
          <h3>Track you order, anytime, anywhere!</h3>
          <p>You can keep track of your order's current location from the website.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feature">
          <i class="fa fa-sliders fa-4x mb-5" data-fa-transform="shrink-3 up-5"></i>
          <h3>Our vendors and partners are of the finest!</h3>
          <p>We offer insurance policies at a discounted price, and ease of mind.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feature">
          <i class="fa fa-wpforms fa-4x mb-5" data-fa-transform="shrink-3 up-5"></i>
          <h3>Buy high-quality products made by our production partners!</h3>
          <p>We offer top-notch products in our marketplace that can be bought along with a special delivery!</p>
        </div>
      </div>

    </div>

    </div>
  </div>
</div>

<!--Resources-->
<div id="resources" class="offset">
  <div class="fixed-background">
    <div class="row dark text-center">
      
      <div class="col-12">
        <h3 class="heading">Built With Care</h3>
        <div class="heading-underline"></div>
      </div>

      <div class="col-md-4">
        <h3>Free Cancellation</h3>
        <div class="feature">
          <i class="fa fa-times fa-3x mb-3"></i>
        </div>
        <p class="lead">Cancel the order anytime!</p>
      </div>
      <div class="col-md-4">
        <h3>Rerouting</h3>
        <div class="feature">
          <i class="fa fa-code fa-3x mb-3"></i>
        </div>
        <p class="lead">Reroute your order at a time!</p>
      </div>
      <div class="col-md-4">
        <h3>Delivery Optimal</h3>
        <div class="feature">
          <i class="fa fa-bold fa-3x mb-3"></i>
        </div>
        <p class="lead">As bold as delivery optimization can be!</p>
      </div>
    </div>



    <div class="home-wrap">
      <div class="fixed">
      </div>
    </div>

  </div>
</div>

<div id="clients" class="offset">

  <div class="jumbotron">
    <div class="col-12 text-center">

      <h3 class="heading">Clients</h3>
      <div class="heading-underline"></div>

    </div>

    <div class="row">

      <div class="col-md-6 clients">
        <div class="row">
          <div class="col-md-4">
            <img src="../../assets/Client1.png" alt="Eric">
          </div>
          <div class="col-md-8">
            <blockquote>
              <i class="fa fa-quote-left"></i>
                I see Flairshop support as more of a partner to my company than a mere service provider. I can pick up a phone and talk to anyone at any time and the way they
                they interact with us as a business makes it really simple.
            </blockquote>
            <hr class="clients-hr">
            <cite>&#8212; Eric, Small Business Owner</cite>
          </div>
        </div>
      </div>

      <div class="col-md-6 clients">
        <div class="row">
          <div class="col-md-4">
            <img src="../../assets/Client2.png" alt="Rachel">
          </div>
          <div class="col-md-8">
            <blockquote>
              <i class="fa fa-quote-left"></i>
                The great thing about Flairshop is it's not just a website, it's a delivery company that is animate. Flairshop's services are seamingly promising and
                extremely effecient to me. 
            </blockquote>
            <hr class="clients-hr">
            <cite>&#8212; Rachel, Professional Photographer</cite>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-12 narrow text-center">
    <p class="lead">Want to join us in as a vendor?</p>
    <a class="btn btn-secondary btn-md" [routerLink]="['/vendors/add']">Fill this form!</a>
  </div>

  <div id="contact" class="offset">
     <footer>
      <div class="row justify-content-center">
      <div class="col-md-5 text-center">
        <img src="../../assets/FlairshopLogo.png" alt="">
        <p>At our core is a collection of desiign and development solutions that
          represent everything your business needs to compete in the modern market.
        </p>
        <strong>Contact Info</strong>
        <P>(888) 888-8888<br>email@Flairshop.com</P>
        <a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a href="#" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a href="#" target="_blank"><i class="fa fa-youtube-square"></i></a>
      </div>

      <hr class="socket">
      &copy; Flairshop.
    </div>
     </footer>
  </div>

</div>