.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img {
    height: 2rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .navbar-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .navbar-link:active,
.navbar-dark .navbar-nav .navbar-link:hover {
    color: #bb231e;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
}